* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Source Sans Pro', sans-serif;
    scroll-behavior: smooth;
}

.flex_column_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* header */

header {
    width: 100%;
    height: 100vh;
    padding: 30px 20px;
    color: white;
    background-image: url('../img/coffe_bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

header h1 {
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    margin-bottom: 5px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 40px;
    padding: 10px;
    background-color: black;
}

header a:hover {
    transform: scale(125%);
    transition: 0.3s;
    color: brown;
    cursor: pointer;
}

/* sekcja kawiarni */

.cafe {
    background-image: url(../img/coffe_shop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 20px;
}

.cafe h2 {
    color: white;
}

.single_cafe {
    text-align: justify;
    margin: 10px 0px;
    padding: 20px;
    background-color: rgba(255,255,255,0.4);
}

.single_cafe a {
    align-self: flex-end;
}

/* sekcja kontaktu */

.contact {
    padding: 10px;
}

.single_contact {
    padding: 20px;
    font-size: 18px;
}

.single_contact i {
    font-size: 50px;
    color: burlywood;
}

/* sekcja mapy */

.map {
    padding: 10px;
}

iframe {
    margin-top: 10px;
    width: 100%;
}